@charset "UTF-8";
:root {
  --color-dark: #191A23;
  --color-dark-alt: #292A32;
  --color-light: #FFFFFF;
  --color-accent: #B9FF66;
  --color-gray: #F3F3F3;
  --color-gray-alt: #898989;
  --border: 1px, solid, var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --shadow: 0 5px 0 0 var(--color-dark);
  --font-family-base: 'Space Grotesk', sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.3s;
  @in;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/scss/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/scss/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: clamp(1rem, 0.9583333333rem + 0.1851851852vw, 1.125rem);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(2.6875rem, 2.3333333333rem + 1.5740740741vw, 3.75rem);
}

h2 {
  font-size: clamp(2.25rem, 2.1666666667rem + 0.3703703704vw, 2.5rem);
}

h3 {
  font-size: clamp(1.625rem, 1.5416666667rem + 0.3703703704vw, 1.875rem);
}

h4 {
  font-size: clamp(1.125rem, 1.0833333333rem + 0.1851851852vw, 1.25rem);
}

/**
  Нормалізація блочної моделі
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Прибираєм внутрішні відступи зліва тегам списків,
  у котрих є атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Прибираєм зовнішні відступи body і двом іншим тегам 
  у котрих є атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Прибираєм зовнішні відступи по вертикалі потрібним тегам,
  у котрих є атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Прибираєм стандартний маркер маркувальному списку,
  у котрого є атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляємо вертикальні зовнішні відступи параграфа,
  оголошуємо локальну змінну для внутрішнього відступу вниз,
  щоб уникнути взаємодії з більш складним селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Зовнішній відступ вниз для параграфа без атрибута class,
  котрий розташований не останнім серед своїх сусідніх елементів
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Спрощуємо роботу зображеннями і відео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наслідуємо властивості шрифт для полів введення
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодиться в більшості ситуацій
    (коли наприклад, потрібно буде "прижати" футер до низу сайту)
   */
  height: 100%;
  /**
    Прибираємо скачок інтерфейсу по горизонталі
    при появі / зникненні скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавний скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Знадобиться в більшості випадків
    (коли наприклад, потрібно буде "прижати" футер до низу сайту)
   */
  min-height: 100%;
  /**
    Уніфікований інтерліньяж
   */
  line-height: 1.5;
}

/**
  Нормалізація висоти елемента посилання при його інспектуванні в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведенні на елемент
 */
button,
label {
  cursor: pointer;
}

/**
  Прибирає сіру підствітку при тапі на мобільних пристроях (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим до єдиного кольору svg-елементи
  (за виключенням тих, у котрих вже вказаний
  атрибут fill зі значенням 'none' або починається з 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим до єдиного кольору svg-елементи 
  (за виключенням тих, у котрих вже вказаний
  атрибут stroke зі значенням 'none' або починається з 'url')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Виравляємо баг затримки зміни кольору при взаємодії з svg-елементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведення рамок таблиць в класичний 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Видаляємо всі анімації і переходи для людей,
  котрі віддають перевагу їх не виколистовувати
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(100%) !important;
  white-space: nowrap !important;
}

@media (max-width: 767.98px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
.button--transparent {
  color: var(--color-dark);
  background-color: transparent;
}

.header {
  padding-top: 60px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding-top: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__inner {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (hover: hover) {
  .header__logo:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .header__logo:active {
    scale: 1.1;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 120px;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    max-width: 144px;
  }
}
.header__menu {
  margin-left: auto;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .header__menu {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 16px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
@media (max-width: 1023px) {
  .header__button {
    height: 48px;
    padding-inline: 18px;
    font-size: 16px;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.section {
  padding-block: var(--section-padding-y);
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767.98px) {
  .hero__main {
    flex-direction: column;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 531px;
  row-gap: 35px;
}
@media (max-width: 767.98px) {
  .hero__body {
    display: contents;
  }
}
@media (max-width: 767.98px) {
  .hero__title {
    order: -2;
    margin-bottom: 10px;
  }
}
.hero__description {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .hero__button {
    width: 100%;
    max-width: 390px;
    margin-inline: auto;
  }
}
.hero__partners-list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 37px;
       column-gap: 37px;
}
.hero__partners-image {
  filter: grayscale(1);
}
@media (max-width: 1023px) {
  .hero__image {
    max-width: 40%;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .hero__image {
    order: -1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */